# OSX
.DS_Store

# NPM
/node_modules
npm-*

# Localization / I18N
common.pyc
.settings
.project
*.pyc
*.komodoproject
/nbproject/private/

# Editor
.vscode

/accessible/*
/dist
/shim
/gh-pages
/msg/js/*
!/msg/js/en.js
/msg/json/*
!/msg/json/en.json
