# Localization / I18N
common.pyc
.settings
.project
*.pyc
*.komodoproject
/nbproject/private/

# Unused by scratch-blocks
javascript_compressed.js
lua_compressed.js
php_compressed.js
python_compressed.js

/accessible/*
